.card-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 400px));
    grid-gap: 30px;
    list-style: none;
    padding-left: 0;
    place-content: center center;
}

@media(max-width: 899px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 530px) {
    .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
